/*Registrar*/

:root{
    --orange: #ffa500;
    --color-dark: #15181f;
    --color-dark-x: #9ca7b8;
    --color-dark-xx: #1f232b;
    --color-light: #b92d2d;
    --color-grey: #f5f6f8;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-dark-x);
    color: var(--color-dark);
    letter-spacing: .05rem;
  }
  

.bg-light {
    background-color: var(--orange)!important;
  }
  
  .bg-dark {
    background-color: var(--color-grey)!important;
    border-radius: 5rem;
  }
  
  .p-6 {
    padding: 4rem 7rem;
  }
  
  .contact-box {
    padding: 3rem;
  }
  
  .btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
  }
  
  .btn-outline-dark {
    border: 2px solid var(--orange);
  }